@page
@model SilverLeiutab.Pages.AudioModel
@{
    ViewData["Title"] = "Audio";
}

<h1>Audio</h1>
<div class="text-center">
    <audio controls>
        <source src="http://www.tlu.ee/~basshead/failid/Meie%20Mees%20Sinine%20vilkur.mp3" type="audio/mp3">
    </audio>
    <p>Meie Mees</p>
    <audio controls>
        <source src="http://www.tlu.ee/~basshead/failid/Dukes%20Of%20Hazzard%20General%20Lee%20Horn.mp3" type="audio/mp3">
    </audio>
    <p>General Lee horn</p>

    
</div>