@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hello world</h1>
    
    <p>Silver Kaugemaa ja Katri Palo</p>
</div>
