@page
@model SilverLeiutab.Pages.PicsModel
@{
    ViewData["Title"] = "Pics";
}
    <div class="text-center">
        <h1>Pics</h1>

        <img src="http://www.tlu.ee/~basshead/failid/IMG_20181118_205325.jpg" width="640">
        <p>Audi</p>
        <img src="http://www.tlu.ee/~basshead/failid/481488082449664.jpeg" width="640">
        <p>Supra</p>
        <img src="http://www.tlu.ee/~basshead/failid/3090007887736380.jpeg" width="640">
        <p>Lamborghini</p>
     </div>